<% content_for :header, t('there_are_no_users', :scope => 'refinery.welcome') %>

<%= form_for :user, :url => refinery.signup_path do |f| -%>

  <h5 class="gray-6">Please create the first account.</h5>

  <%= render '/refinery/admin/error_messages', :object => @user, :include_object_name => true %>

  <div class='form-group'>
    <%= f.text_field :username, :placeholder => 'Full name', :class => 'form-control form-control-lg', 'autofocus' => 'autofocus' %>
  </div>
  <div class='form-group'>
    <%= f.text_field :email, :placeholder => 'Email', :class => 'form-control form-control-lg' %>
  </div>
  <div class='form-group'>
    <%= f.password_field :password, :placeholder => 'Password', :class => 'form-control form-control-lg' %>
  </div>
  <div class='form-group'>
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation', :class => 'form-control form-control-lg' %>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :submit_continue => false,
             :submit_button_text => t('.sign_up'),
             :hide_delete => true,
             :hide_cancel => true %>
<% end -%>
