<% # setup params for various action links
  edit_url =  refinery.edit_authentication_devise_admin_user_path(user)
  delete_url = refinery.authentication_devise_admin_user_path(user)
  delete_options = {
     class: "cancel confirm-delete",
            data: {confirm: t('message',  scope: 'refinery.authentication.devise.admin.delete', title: user.username)}
     				}
 %>

<li id="sortable_<%= user.id %>" class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <strong><%= user.username %></strong>
    <span class="preview">
      <%= t('.preview', :who => user.email, :created_at => l(user.created_at, :format => :short)) %>
    </span>
  </span>
  <span class='actions'>
  	<%= action_icon(:email, user.email, t('.email_user'))%>
    <%= action_icon(:edit, edit_url,  t('edit',   scope: 'refinery.authentication.devise.admin.users' ) ) %>
    <%= action_icon(:delete, delete_url, t('delete', :scope => 'refinery.authentication.devise.admin.users'), delete_options) if current_refinery_user.can_delete?(user) %>
  </span>
</li>
